@import "../../sharedCSS.scss";

.button {
  background: $cardColor5;
  padding: 6px;
  font-size: 12px;
  font-weight: bolder;
  color: white;
  margin: 5px 10px;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.active {
  transform: scale(1.1);
  background: $cardColor3;
  color: $textColorDarker;
  &:hover {
    transform: scale(1.1);
  }
}
