@import "../../sharedCSS.scss";

.icons {
  display: none;
}

button {
  border: 0;
}

button:focus {
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
  margin-right: 20px;
  color: $textColorDarker;

  height: 90px;

  min-width: 145px;
  max-width: 145px;

  border-radius: 8px;

  position: relative;
  background: $cardColor4;
  border: 1px solid rgba(5, 18, 49, 0.108);

  cursor: pointer;
  &:hover {
    color: $textColorWhite;
    transform: scale(1.135);
  }
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn:active {
}

.btn:active:after {
}

.roundSmall {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.roundSmall:after {
  border-radius: 50%;
}

.roundSmaller {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.roundSmaller:after {
  border-radius: 50%;
}
.pressed {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
.roundLarge {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.roundLarge:after {
  border-radius: 50%;
}

.rectLarge {
  height: 60px;
  width: 100px;
  border-radius: 8px;
}

.active {
  color: $textColorWhite;
  transform: scale(1.135);
}

.disabled {
  opacity: 0.99;
}
