.button {
  height: 45px;
  width: 167px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid rgb(182, 209, 255);
  background-color: #705fff;
  color: white;
  &:hover {
    background-color: #705fff;
    font-size: 15px;
    cursor: pointer;
  }
}
