@import "../../sharedCSS.scss";
.startButton {
  place-self: center;
  justify-self: end;
  margin-right: 20px;
  &:after {
    content: "";
    box-shadow: inset 8px 8px 4px -6px rgba(255, 255, 255, 0.262),
      inset -8px -8px 4px -10px rgba(0, 0, 0, 0.276);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
