@import "../../sharedCSS.scss";
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;

  .chart__container {
    width: 100%;

    padding: 20px;
    border-radius: 4px;

    .chart {
      height: 100%;
      width: 100%;

      display: grid;
      grid-auto-flow: column;

      grid-template-rows: 1fr;
      grid-auto-columns: minmax(90px, 100px);
      //   overflow-x: scroll;

      .bar__container {
        height: 100%;
        display: flex;
        border-right: 1px dotted rgba(60, 107, 124, 0.577);
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px;
        overflow: hidden;
        color: $textColorWhite;
        .bar {
          background-color: $purple;
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
}
