.background {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#65bddf), to(#6cebcb));
  background: linear-gradient(to right top, #65bddf, #6cebcb);
  overflow: hidden;
  position: relative;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background__blur {
  position: absolute;
  height: 100%;
  width: 100%;
}

.background__circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(#f6fdff), to(rgba(233, 251, 255, 0.176)));
  background: linear-gradient(to right bottom, #f6fdff, rgba(233, 251, 255, 0.176));
  position: absolute;
  top: 26%;
  left: 5%;
  z-index: 0;
}

.background__circle2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(#f6fdff), to(rgba(233, 251, 255, 0.176)));
  background: linear-gradient(to right bottom, #f6fdff, rgba(233, 251, 255, 0.176));
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 300px) 4fr;
      grid-template-columns: minmax(100px, 300px) 4fr;
  gap: 20px;
  z-index: 1;
  position: relative;
}

.contentWrapper {
  max-width: 1600px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  padding: 20px 50px;
  border-radius: 8px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(234, 251, 255, 0.697)), to(rgba(233, 251, 255, 0.539)));
  background: linear-gradient(to right bottom, rgba(234, 251, 255, 0.697), rgba(233, 251, 255, 0.539));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  margin-bottom: 20px;
  border: 1px solid rgba(5, 33, 49, 0.272);
  -webkit-box-shadow: inset 2px 2px 5px 0px #ffffff;
  box-shadow: inset 2px 2px 5px 0px #ffffff;
}

.logo {
  border-radius: 8px;
  color: #ff705f;
  height: 60px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo:hover {
  color: white;
  background-color: #ff6f5fc5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  width: 300px;
}

li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 60px;
}

li a {
  text-decoration: none;
  color: #dbfcff;
  font-weight: bolder;
  font-size: 25px;
}

li a:hover {
  color: white;
}

li:hover a {
  color: white;
}
/*# sourceMappingURL=PageWrapper.module.css.map */