@import "../../sharedCSS.scss";

.background {
  width: 100vw;
  height: 100vh;
  background: $backgroundColor;
  overflow: hidden;
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  &__blur {
    position: absolute;
    height: 100%;
    width: 100%;

    // backdrop-filter: blur(2px);
  }
  &__circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: $circleColor;
    position: absolute;
    top: 26%;
    left: 5%;
    z-index: 0;
  }
  &__circle2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: $circleColor;
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 0;
  }
}
.content {
  display: grid;
  grid-template-columns: minmax(100px, 300px) 4fr;
  gap: 20px;
  z-index: 1;
  position: relative;
}
.contentWrapper {
  max-width: 1600px;
  flex: 1;
}
.header {
  padding: 20px 50px;

  border-radius: 8px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background: $cardColor2;
  backdrop-filter: blur(8px);
  margin-bottom: 20px;
  border: 1px solid rgba(5, 33, 49, 0.272);
  -webkit-box-shadow: inset 2px 2px 5px 0px #ffffff;
  box-shadow: inset 2px 2px 5px 0px #ffffff;
  // box-shadow: -3px -4px 10px rgba(175, 232, 230, 0.258),
  //   0px 4px 15px rgba(14, 159, 142, 0.382);
}

.logo {
  border-radius: 8px;

  color: $orange;
  height: 60px;
  transition: all 0.6s;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $orangeLight;
    transition: all 0.2s ease;
  }
}

.nav ul {
  display: flex;
  border-radius: 8px;
  width: 300px;
}
li {
  list-style: none;
  display: flex;
  flex: 1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  &:hover {
  }
}

li a {
  text-decoration: none;
  color: $textColorWhite;
  font-weight: bolder;
  font-size: 25px;
  &:hover {
    color: white;
  }
}
li:hover a {
  color: white;
}
