@import "../../sharedCSS.scss";

.header {
  padding: 20px 50px;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
  margin-bottom: 20px;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background-color: $baseColor;
}

.logo {
  border-radius: 8px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
  color: $orange;
  height: 60px;
  transition: all 0.6s;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $orangeLight;
    transition: all 0.2s ease;
    box-shadow: 7px 7px 17px #fff, -7px -7px 17px rgba(70, 70, 70, 0.15);
  }
}

.nav ul {
  display: flex;
  border-radius: 8px;
  width: 300px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
}
li {
  list-style: none;
  display: flex;
  flex: 1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  &:hover {
    background-color: $purple;
  }
}

li a {
  text-decoration: none;
  color: $purple;
  font-weight: bolder;
  font-size: 25px;
  &:hover {
    color: white;
  }
}
li:hover a {
  color: white;
}
