@import "../../sharedCSS.scss";

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $cardColor;

  min-height: 700px;
  border-radius: 8px;
}

.activitySection {
  margin-top: 40px;
}
