@import "../../sharedCSS.scss";
.header {
  font-size: 30px;
  font-weight: bold;
  color: $textColorWhite;
  margin: 0;
  padding: 0;
}
.black {
  color: $textColorDark;
}
.purple {
  color: $purple;
}

.headerSmall {
  font-size: 16px;
}
.headerSmaller {
  font-size: 12px;
}

.headerLarge {
  font-size: 22px;
}

.headerLarger {
  font-size: 28px;
}
