@import "../../sharedCSS.scss";
.header {
  margin: 20px 0px;
  font-size: 30px;
  font-weight: bold;
  color: $headerColor1;
  color: rgb(62, 62, 62);
}
.border {
  border-bottom: 5px solid $purple;
  width: 120px;
}

.purple {
  color: $purple;
}
.orange {
  color: $orange;
}

.green {
  color: $green;
}
