@import "../../sharedCSS.scss";
.menu {
  border-radius: 8px;
  padding: 20px;
  background: $cardColor2;
  backdrop-filter: blur(20px);
  // border: 1px solid rgba(5, 33, 49, 0.272);
  // -webkit-box-shadow: inset 2px 2px 5px 0px #ffffff;
  // box-shadow: inset 2px 2px 5px 0px #ffffff;
  &__user {
    height: 150px;
  }
  &__navbar {
    display: flex;
    flex-direction: column;
  }
  &__navbar a {
    margin-bottom: 100px;
    text-decoration: none;
    // color: $textColorWhite;
    color: $purple;
    font-weight: bolder;
  }
}
