@import "../../sharedCSS.scss";
.carousel {
  position: relative;
}

.switchLeft {
  position: absolute;
  left: -35px;
}

.switchRight {
  position: absolute;
  right: -35px;
}

.sliderButton {
  height: 40px;
  font-weight: bolder;
  width: 25px;

  margin-top: 40px;
  color: $textColorDark;
  // color: $textColorWhite;
  background: $cardColor;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $boxShadow;
  cursor: pointer;
}

.carouselBox {
  height: 150px;
  width: 650px;
  overflow: scroll;
  overflow: hidden;
  white-space: nowrap;

  display: flex;
}
