$baseColor: #ebf2fa;
$purple: #705fff;
$orange: #ff705f;
$orangeLight: #ff6f5fc5;
$green: #5fff70;

$textColorWhite: #dbfcff;
$textColorDark: #629084;
$textColorDarker: #2a4941;
$headerColor1: #2f2e39;

$backgroundColor: linear-gradient(to right top, #65bddf, #6cebcb);
// $backgroundColor: linear-gradient(to right top, #42103e, #110327);
$cardColor: linear-gradient(
  to right bottom,
  rgba(255, 255, 255, 0.334),
  rgba(255, 255, 255, 0.135)
);
$cardColor2: linear-gradient(
  to right bottom,
  rgba(234, 251, 255, 0.464),
  rgba(233, 251, 255, 0.539)
);

$circleColor: linear-gradient(
  to right bottom,
  rgba(246, 253, 255, 0.697),
  rgba(233, 251, 255, 0.176)
);

$cardColor3: linear-gradient(
  to right bottom,
  rgba(234, 251, 255, 0.888),
  rgba(226, 250, 255, 0.861)
);

$cardColor4: linear-gradient(
  to right bottom,
  rgba(195, 195, 195, 0.094),
  rgba(129, 129, 129, 0.224)
);
$cardColor5: linear-gradient(
  to right bottom,
  rgba(109, 108, 108, 0.21),
  rgba(32, 102, 121, 0.094)
);

$height: 80vh;
