@import "../../sharedCSS.scss";

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, #65bddf, #6cebcb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.memberLink {
  color: $purple;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.header {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}
.label {
  color: blue;
}

.formWrapper {
  padding: 50px;
  width: 800px;
  padding: 70px 170px;
  border-radius: 8px;
  max-height: auto;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  z-index: 20;
}
